<!--
  ~ Copyright (c) 2016-present 贵州纳雍穿青人李裕江<1032694760@qq.com>
  ~
  ~ The software is licensed under the Mulan PSL v2.
  ~ You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~ You may obtain a copy of Mulan PSL v2 at:
  ~     http://license.coscl.org.cn/MulanPSL2
  ~ THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR FIT FOR A PARTICULAR
  ~ PURPOSE.
  ~ See the Mulan PSL v2 for more details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gzuliyujiang.fallback">

    <application
        android:name=".DemoApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name="com.github.gzuliyujiang.fallback.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="MY_CHANNEL"
            android:value="${MY_CHANNEL}" />

    </application>

</manifest>